<?xml version="1.0" ?>
<launch>
 <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen"><param name="speed" value="50"/> <param name="turn" value="50"/>
 <remap from="cmd_vel" to="/navigation/cmd_vel"/>
 </node>
 <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pratham_bot)/rviz/config.rviz"/> 
 <!-- <node name="spybot_manipulation_publisher" pkg="pratham_bot" type="manipulation_publisher.py" />  -->
 </launch>